*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache

# Emacs backup files
*~
\#*#
# PyCharm
.idea/*
=======
.cache/v/cache/lastfailed

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

*.cert

scripts/package\.bat

\.idea/

\.vscode/

\.DS_Store
