<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Frog Login</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}frog/c/login.css?b={{build}}">
    </head>
    <body>
        <hgroup>
            <h1>Frog Login</h1>
        </hgroup>
        <form method='post' action='/frog/login'>
            {% csrf_token %}
            <div class="group">
                <input type="email" name='email'><span class="highlight" required='required'></span><span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input type="text" name='first'><span class="highlight" required='required'></span><span class="bar"></span>
                <label>First Name</label>
            </div>
            <div class="group">
                <input type="text" name='last'><span class="highlight" required='required'></span><span class="bar"></span>
                <label>Last Name</label>
            </div>
            <button type="submit" class="button buttonBlue">Login
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
        {% if message %}
        <div id='msg-div' style='position: relative; top: -8px;'>
            <div class='msg alert-danger'>{{message}}</div>
        </div>
        {% endif %}
        <footer>
            <a href="http://frog.readthedocs.io/en/latest/" target="_blank"><img src="{{MEDIA_URL}}frog/i/frog.png"></a>
        </footer>

        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="{{MEDIA_URL}}frog/j/login.js?b={{build}}"></script>
    </body>
</html>
