/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body {
    background: #202020;
    overflow-y: scroll;
    min-height: 800px;
}

/* EXT overrides */
.noscroll {
    overflow: hidden;
}
.x-mask {
    background: #000;
}
.x-panel-body-default {
    background: transparent;
}
.x-boundlist-item {
    color: #000;
}
.x-boundlist-list-ct ul {
    margin: 0;
    padding: 0;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position: fixed;
    top:32px;
    width: 100%;
    z-index:20000;
}
#msg-div .msg {
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg p {
    margin: 0;
}
#msg-div .alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#msg-div .alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
#msg-div .alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}
#msg-div .alert-danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}



body > div {
    font-family: Verdana;
    font-size: 11px;
    color: #ccc;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a, a:visited { color: #b8d364; text-decoration: none; }
a:hover { color: #fff; }
.gallery-nav {
    background-image: url('../i/application_view_tile.png');
}
.thumbnail {
    display: inline-block;
    position: relative;
    float: left;
    width: 200px;
    height: 220px;
    border: 1px solid transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-background-clip: padding-box;
}
    .thumbnail:hover {
        background: #333;
        border: 1px solid #444;
    }
    .thumbnail > div {
        width: 100%;
        padding: 0 6px;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
    .thumbnail > div:first-child {
        /*height: 80%;*/
        /*padding: 8px;*/
    }
    .thumbnail > div:last-child {
        position: absolute;
        left: 0;
        bottom: 4px;
        height: 30px;
        white-space: nowrap;
    }
        .thumbnail > div:last-child > div:first-child {
            text-overflow: ellipsis;
            
        }
    .thumbnail > div:first-child a {
        display: block;
        margin: 0 auto;
        border: 1px solid #333;
        cursor: pointer;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
    .thumbnail img {
        margin: 2px;
        opacity: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;

        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
    }
    .thumbnail.loaded img {
        opacity: 1.0;
    }
    .thumbnail.selected {
        background: #273240;
    }
    .thumbnail.selected:hover {
        background: #4b5560;
    }

    .thumbnail .tag-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background: rgba(0,0,0,0.0);
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
        opacity: 0;
        z-index: 2000;
        -webkit-transition: background 0.3s 0.0s;
        -webkit-transition: opacity 0.3s 0.0s;
        -moz-transition: background 0.3s 0.0s;
        -moz-transition: opacity 0.3s 0.0s;
        -ms-transition: background 0.3s 0.0s;
        -ms-transition: opacity 0.3s 0.0s;
    }
    .thumbnail:hover .tag-hover {
        opacity: 1;
        background: rgba(0,0,0,0.8);
        background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
        -webkit-transition: background 0.3s 0.5s;
        -webkit-transition: opacity 0.3s 0.5s;
        -moz-transition: background 0.3s 0.5s;
        -moz-transition: opacity 0.3s 0.5s;
        -ms-transition: background 0.3s 0.5s;
        -ms-transition: opacity 0.3s 0.5s;
    }
    .thumbnail .frog-comment-bubble {
        position: absolute;
        bottom: 0;
        right: 2px;
        width: 20px;
        height: 16px;
        color: #666;
        border: 1px solid #666;
        cursor: pointer;
        text-align: center;
        border-radius: 4px 4px 0 4px;
        -moz-border-radius: 4px 4px 0 4px;
        -webkit-border-radius: 4px 4px 0 4px;
    }
        .thumbnail .frog-comment-bubble:hover {
            border: 1px solid #fff;
            background: #666;
            color: #fff;
        }
/*Query Builder*/
ul.frog-bucket {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
    ul.frog-bucket li {
        float: left;
    }
li.frog-tag {
    position: relative;
    min-width: 140px;
    margin: 4px;
    padding: 2px 20px;
    background: #333;
    color: #b8d364;
    border: 1px solid #666;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    z-index: 2002;
}
    li.frog-tag span {
        display: inline-block;
        position: absolute;
        top: 3px;
        left: 3px;
        width: 13px;
        height: 13px;
        background: #202020;
        border: 1px solid #666;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
    }
    li.frog-tag-search span {
        background: #b8d364;
    }
    li.frog-tag * {

    }
    li.frog-tag div:last-child {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        border-left: 1px solid #000;
        text-align: center;
        cursor: pointer;
    }
        li.frog-tag div:last-child:hover {
            color: #fff;
        }
#frog_builder {
    position: fixed;
    width: 100%;
    margin-top: 28px;
    overflow: hidden;
    border-bottom: 1px solid #333;
    background: #101010;
    z-index: 2005;
}
#frog_builder .frog-bucket {
    float: left;
    width: 100%;
}
#frog_builder input {
    width: 240px;
    height: 22px;
    font-size: 16px;
    margin: 4px;
}
#frog_builder .frog-logo {
    position: absolute;
    right: 10px;
    top: 0;
    width: 48px;
    height: 48px;
}

/*Main Elements*/
#gallery {
    width: 100%;
    padding-top: 68px;
    overflow: auto;
}
#frog_upload {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 3000;
}
    #frog_upload_drop {
        width: 80%;
        height: 160px;
        margin: 160px auto 0;
        background: #ccc;
        font-size: 34px;
        text-align: center;
        padding-top: 48px;
        color: #333;
        border: 4px solid #999;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
    }
    #frog_upload_files {
        width: 80%;
        margin: 100px auto;
    }
    #frog_upload_files .red {
        color: #900;
    }
#frog_tools {
    position: fixed;
    width: 100%;
    height: 28px;
    z-index: 2006;
}
.frog-tools {
    width: 100%;
    height: 28px;
}
.ma-container li span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url(../i/tag_orange.png) no-repeat;
}
.ma-container li span.search {
    background: url(../i/magnifier.png) no-repeat;
}
/*Autocomplete*/
.ma-container{
    color: #000;
    border: 1px solid #666;
    background-color: #fff;
    position: absolute;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 20000;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.ma-container ul{
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.ma-container li{
    padding: 2px 5px;
    line-height: 16px;
    cursor: pointer;
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    color: #d2d2d2;
}
.ma-container .ma-hover{
    color: #b8d364;
    background-color: #666 !important;
}
.ma-loading{
    background-color: #fafba4;
}
.ma-even {
    background-color: #202020;
}
.ma-odd {
    background-color: #333;
}

/*Frog Viewer*/
#frog_viewer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2010;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#frog_viewer_controls {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    padding-right: 32px;
}
    #frog_viewer_controls div {
        float: right;
    }
    #frog_viewer_controls .image-count {
        right: 256px;
        position: absolute;
        top: 8px;
        height: 24px;
        background: #444;
        border: 1px solid #666;
        font-size: 17px;
        font-weight: bold;
        padding: 0 4px;
    }
    #frog_viewer_controls > div:last-child {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background: url('../i/viewerClose.png') left top no-repeat;
        cursor: pointer;
    }
        #frog_viewer_controls > div:last-child:hover {
            background: url('../i/viewerClose.png') left bottom no-repeat;
        }
    #frog_viewer_controls ul {
        margin: 0;
        margin-right: 48px;
        margin-top: 8px;
        list-style-type: none;
        padding: 0;
    }
        #frog_viewer_controls ul li {
            display: inline-block;
            width: 27px;
            height: 22px;
            margin-right: 1px;
            border: 1px solid #404141;
            cursor: pointer;
        }
        #frog_viewer_controls ul li:first-child {
            border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
        }
        #frog_viewer_controls ul li:last-child {
            border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
        }
#frog_viewer .leanback-player-video {
    margin: auto;
    text-align: center;
}
#frog_viewer canvas {
    cursor: move;
}
#frog_viewer > img {
    position: absolute;
    opacity: 0.0;
    cursor: move;
}
.frog-prev { background: url('../i/viewerControls.png') left top no-repeat; }
.frog-next { background: url('../i/viewerControls.png') left -20px no-repeat; }
.frog-window { background: url('../i/viewerControls.png') left -40px no-repeat; }
.frog-original { background: url('../i/viewerControls.png') left -60px no-repeat; }
.frog-download { background: url('../i/viewerControls.png') left -80px no-repeat; }
.frog-url { background: url('../i/viewerControls.png') left -100px no-repeat; }

.frog-prev:hover { background: url('../i/viewerControls.png') right top no-repeat; }
.frog-next:hover { background: url('../i/viewerControls.png') right -20px no-repeat; }
.frog-window:hover { background: url('../i/viewerControls.png') right -40px no-repeat; }
.frog-original:hover { background: url('../i/viewerControls.png') right -60px no-repeat; }
.frog-download:hover { background: url('../i/viewerControls.png') right -80px no-repeat; }
.frog-url:hover { background: url('../i/viewerControls.png') right -100px no-repeat; }

.spinner {
    background: rgba(0,0,0,0.5);
}
.spinner-content {
    font-size: 14px;
    background: #CCC;
    padding: 12px;
    color: #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

/*Login*/
#frog_login {
    width: 580px;
    height: 300px;
    margin: 300px auto;
    background: #a7a9ab;
    color: #666;
    font-family: Verdana;
    border: 1px solid #8a8d8e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
#frog_login header {
    width: 100%;
    height: 50px;
    background: #bcbec0;
    font-size: 30px;
    border-bottom: 1px solid #8a8d8e;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
}
#frog_login section {
    padding-top: 20px;
}
#frog_login label {
    float: left;
    font-size: 24px;
    text-align: right;
}
#frog_login input[type='text'], #frog_login input[type='email'], #frog_login input[type='password'] {
    float: right;
    width: 360px;
    height: 24px;
    padding: 4px;
    background: #cdced0;
    font-size: 24px;
    border: 1px solid #8a8d8e;
}
#frog_login section p {
    width: 520px;
    margin: 20px auto;
    overflow: auto;
    text-align: center;
}
#frog_login input[type='submit'] {
    width: 180px;
    height: 40px;
    background: #bcbec0;
    font-size: 20px;
    color: #666;
    border: 1px solid #8a8d8e;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -ms-transition: background 0.3s, color 0.3s;
}
#frog_login input[type='submit']:hover {
    background: #cdced0;
    color: #333;
}
#frog_login input[type='submit'].disabled {
    background: #a7a9ab;
    text-decoration: line-through;
}

#frog_comments_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2008;
}
#frog_comments_block {
    position: relative;
    width: 600px;
    margin: 0 auto;
    max-height: 800px;
    margin: 0 auto;
    background: #292929;
}
    #frog_comments_block > div:first-child {
        width: 100%;
        overflow: auto;
    }
    #frog_comments_block > div:last-child {
        bottom: 0;
    }
    #frog_comments_block input {
        width: 100%;
        background: #333;
        border: 1px solid #666;
        color: #d2d2d2;
        padding: 2px;
        font-size: 12px;
        font-family: Verdana;
    }
    #frog_comments_block textarea {
        width: 100%;
        height: 64px;
        background: #333;
        border: 1px solid #666;
        color: #d2d2d2;
        padding: 2px;
        font-size: 12px;
        font-family: Verdana;
    }
#frog_comments .even {
    background: #333;
}
#frog_comments ul {
    padding: 0;
}
#frog_comments li {
    padding: 8px;
}
#frog_comments li header {
    font-size: 12px;
    font-weight: bold;
    color: #b8d364;
    text-transform:capitalize;
}
#frog_comments pre {
    font-size: 12px;
    font-family: Verdana;
    padding: 4px 12px;
}
#frog_comments span {
    font-size: 10px;
    color: #797979;
}

/*Frog Shelf*/
#frog_shelf {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 53px;
    border-top: #202020;
    padding: 2px;
}
#frog_shelf_thumbnails {
    height: 48px;
}
#frog_shelf img {
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
}
#frog_shelf img:hover {
    border-color: #fff;
}
#frog_shelf_trigger {
    position: absolute;
    top: 0;
    left: -28px;
    width: 28px;
    height: 53px;
    background: url('../i/shelfIcon.png') top left no-repeat;
}